
    @use 'variaveis'
    @use 'mixins'

*
  font-family: 'josefin sans'
  padding: 0
  margin: 0
  box-sizing: border-box

body
  background-color: variaveis.$cor-fundo
  color: variaveis.$cor-texto

  a
    color: variaveis.$cor-texto
    text-decoration: none
    transition: .4s

  ul
    list-style: none  
   
.header
  display: flex
  justify-content: space-between
  @include mixins.container

  &-brand
    color: variaveis.$cor-principal
    font-size: 3rem

  &-navbar

    ul
      height: 100%
      @include mixins.flex-center

      li
        margin: 0 1rem
        text-transform: uppercase
        font-size: .8rem

        .active
          color: variaveis.$cor-secundaria

        a
          &:hover
            color: variaveis.$cor-secundaria

  &-social-media

    ul
      @include mixins.flex-center
      height: 100%

      li
        margin: 0 1rem

        a
          &:hover
            color: variaveis.$cor-principal


.gallery
