
    @use 'variaveis'

    *
         font-family: 'josefin Sans'
         padding: 0
         margin: 0
         box-sizing: border-box

         body
            background-color: variaveis.$cor-fundo
            color: variaveis.$cor-texto

            a
                color: variaveis.$cor-texto
                text-decoration: none
  
